*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#7f00ff,
#e100ff,
#00c9ff
);

background-size:300% 300%;

animation:bgAnimation 8s infinite alternate;

overflow:hidden;

}

@keyframes bgAnimation{

0%{
background-position:left;
}

100%{
background-position:right;
}

}

.music-card{

width:420px;

padding:30px;

border-radius:25px;

background:rgba(255,255,255,0.15);

backdrop-filter:blur(20px);

box-shadow:0 8px 32px rgba(0,0,0,.3);

text-align:center;

color:white;

}

h1{

margin-bottom:15px;

font-size:30px;

}

p{

margin-bottom:20px;

}

select{

width:100%;

padding:12px;

border:none;

border-radius:15px;

outline:none;

margin-bottom:25px;

font-size:16px;

}

.visualizer{

display:flex;

justify-content:center;

align-items:flex-end;

height:100px;

gap:10px;

margin-bottom:30px;

}

.bar{

width:12px;

height:30px;

background:white;

border-radius:20px;

animation:bounce 1s infinite alternate;

}

.bar:nth-child(2){
animation-delay:.2s;
}

.bar:nth-child(3){
animation-delay:.4s;
}

.bar:nth-child(4){
animation-delay:.6s;
}

.bar:nth-child(5){
animation-delay:.8s;
}

@keyframes bounce{

from{
height:20px;
}

to{
height:90px;
}

}

button{

width:100%;

padding:12px;

margin-top:12px;

border:none;

border-radius:15px;

cursor:pointer;

font-size:18px;

transition:0.4s;

}

button:hover{

transform:scale(1.05);

}

#playBtn{

background:#00c853;

color:white;

}

#pauseBtn{

background:#f44336;

color:white;

}